@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Volkhov";
}

body
{
    min-height: 100vh;
    background: radial-gradient(#708A70 26%, #446742 51%, #093705 92%);
}

.navbar
{
    position: fixed;
    top: 0;
    background-color: #D2D4C4;
    border: 3px solid #669631;
    border-right: none;
    border-left: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
    outline-offset: -3px;
    height: 80px;
    width: 100%;
    z-index: 99999;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;

}

.navbar ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.logo a
{
    cursor: pointer;
}

.navbar ul li
{
    padding: 10px 30px;
    position: relative;
}

.navbar ul li a
{
    color: #0E4809;
    text-decoration: none;
    font-size: 15px;
    content: '';
    position: relative;
    top: 10%;
    width: 0%;
    height: 2px;
    background: #D2D4C4;
    transition: .15s; 
    margin-left: 40px;
}

.navbar ul li a:hover
{
    width: 100%;
}

.dropdown
{
    display:none;
}

.dropdown ul li
{
    width: 169px;
    padding: 8px 10px;
}

.dropdown ul li a
{
    color: white;
    background: #00663F;
    margin-left: -5px;
}

.navbar ul li:hover .dropdown
{
    display: block;
    position:absolute;
    left: 0;
    top: 100%;
    background-color: #00663F;
    border-radius: 10px;
    box-shadow: none;
}


.navbar ul li:hover .dropdown ul
{
    display: block;
    margin: 10px;
}



.searchbox
{
    height: 40px;
    width: 180px;
    display: flex;
    background: #D2D4C4;
    position: relative;
    margin-right: 2%;
}

.searchbox input
{
    height: 100%;
    width: 180px;
    color: #0E4809;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
}

.icon
{
    height: 100%;
    width: 90px;
    padding: 6px 8px;
    
    text-align: center;
    border: 1px solid #cccccc;
    background: #0E4809;
    
    cursor: pointer;
}

.icon:hover
{
    background: rgb(4, 42, 7);
}

.icon span
{
    color: white;
    font-size: 25px;
}

.page
{
    padding-top: 60px;
}

.page a
{
    margin-top: 100px;
    position:relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.heading
{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color: #EFEFEF;
    text-shadow: 2px 2px 40px #0E4809;
}

.pgraph
{
    display:block;
    width: 100%;
    text-align: center;
    color: #EFEFEF;
    font-size: 40px;
}

.bubbleimage
{
    position: relative;
    left: 15%;
    width: 378px;
    height: 360px;
    object-fit: cover;
    border-radius: 50%;
    outline: 5px solid #0E4809;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.30));
    display: inline-block;
    vertical-align:top;
    text-align: center;
    margin-top: -40px;
}

.text
{
    position: absolute;
    width: 100%;
    display: inline-block;
    margin-top: -19%;
    left: 50%;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
