body {
    margin: 0;
    background-color: #708A70;
    padding-top: 70px;
}
.building-name {
    position: fixed;
    top: calc(140px - 72px);
    left: calc(260px);
    right: calc(300px);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 1px 1px 2px black;
}
.floorplan-container {
    position: fixed;
    top: calc(140px);
    left: calc(260px);
    right: calc(300px);
    bottom: calc(19px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 3px solid #669631;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);   
    overflow: hidden;
    padding: 0;
}

/* adjust left and right container spacing on smaller screens */
@media (max-width: 768px) {
    .floorplan-container {
        left: calc(20px);
        right: calc(20px);
    }
    .building-name {
        left: 10px;
        right: 10px;
    }
}
.floorplan-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Zoom and Grab */
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center; /* Set the origin for zooming */
    transition: transform 0.2s ease-in-out;
    cursor: grab;
}

.placeholder-text {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: bold;
    color: #0E4809;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    padding: 80px;
}

.placeholder-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.floorplan-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.floorplan-wrapper img#zoomable-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain; 
}

.floorplan-wrapper img#default-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}