@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#708A70 26%, #446742 51%, #093705 92%);
    font-family: "Volkhov";
}

.page {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page a {
    margin-top: 100px;
    position:relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.heading {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color: #EFEFEF;
    text-shadow: 2px 2px 40px #0E4809;
}

.pgraph {
    display:block;
    width: 100%;
    text-align: center;
    color: #EFEFEF;
    font-size: 40px;
}

.bubble-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bubbleimage {
    position: relative;
    /* left: 15%; */
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    outline: 5px solid #0E4809;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.30));
    display: inline-block;
    vertical-align:top;
    text-align: center;
    margin-top: -40px;
}

/* change the top and left and transform values to move text */
.text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(5, 10, 10, 0.7);
    text-align: center;
    width: 100%;
    /* position: absolute;
    width: 100%;
    display: inline-block;
    margin-top: -19%;
    /* left: 50%; */
    /*color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}