{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNT Map Directory</title>
    <link rel="stylesheet" href="{% static 'css/buildingview.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <script src="{% static 'js/zoom.js' %}" defer></script>
</head>
<body>
    {% include "navbar.html" %}
    
    {% include "buildingsidebar.html" %}

    <!-- Pre-loaded Building Floor Plan Display (always first floor) -->
    {% if full_building %}
        <h1 class="building-name">{{ full_building.display_name }}</h1>
    {% endif %}

    <div class="floorplan-container">
        {% if full_building and full_building.floor_1 %}
            <img id="zoomable-image" src="{{ full_building.floor_1.url }}" alt="Floor plan image of {{ full_building.display_name }}">
            <button class="in" onclick="zoomIn()">+</button>
            <button class="out" onclick="zoomOut()">-</button>
        {% else %}
            <p class="placeholder-text">Please select a building from the building sidebar to view :)</p>
        {% endif %}
    </div>

</body>
</html>