{% load static %}

<style>

    /* hides sidebar on small screens */
    @media screen and (max-width: 768px) {
        .floating-sidebar {
            display: none; /* Hides the sidebar on small screens */
        }
    }

    /* Floating Sidebar */
    .floating-sidebar {
        position: fixed;
        top: 115px;
        bottom: 60px;
        right: 2%;
        width: 220px;
        height: calc(100% - 175px);
        /*height: 71vh; ensures it doesn’t cover the whole page */
        
        background-color: rgb(160 166 128 / 0.9); /* slight transparency */
        color: #A0A680;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .sidebar-search-container {
        position: sticky;
        top: 0;
        background: rgb(160 166 128 / 0); /* transparent background */
        z-index: 1000; /* ensures it stays above other content */
        padding-bottom: 10px;
    }

    .sidebar-search-box {
        width: 177px;
        margin-bottom: 40px;
        padding: 10px;
        padding-left: 35px;
        border-radius: 14px;
        border: none;
        outline: none;
        background: rgb(14 72 9 / 0.9);
        box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.3) inset;
        color: white;
        font-display: swap;
        font-family: "Roboto Mono", serif;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }

    .sidebar-search-box-img {
        position: absolute; 
        left: 10px; 
        top: 21%; 
        transform: translateY(-50%); 
        width: 22px; 
        height: 16px;
        z-index: 3;
    }

    /* Ensures buildings in scrollbox are not seen under search bar */
    .sidebar-building-container {
        position: fixed;
        top: 190px;
        bottom: 61px;
        right: 2%;
        width: 220px;
        height: calc(100% - 251px);
        background-color: transparent;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-radius: 12px;
        overflow-y: auto;
        z-index: 1;
    }

    .sidebar-building-box {
        background: #D2D4C4;
        height: 65px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 23px;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
        font-display: swap;
        font-family: "Roboto Mono", serif;
        display: flex;
        align-items: center;  /* centers text vertically */
        justify-content: flex-start; /* aligns items to the left */
        position: relative;
        gap: 15px; /* adds spacing between image and text */
        z-index: 1;
    }

    .sidebar-building-box:hover {
        background: #bfc2ae;
    }

    .sidebar-building-box a {
        color: black;
        text-decoration: none;
        /*display: block;*/
        flex-direction: column;  /* stacks text elements vertically */
        justify-content: space-between; /* ensures text is spread (top and bottom) */
        display: flex;
        height: 60px;
        flex-grow: 1; /* allows text container to fill space */
        align-items: left;
        margin-left: 71px;
    }

    .sidebar-building-title {
        font-size: 11px;
        display: flex;
        align-items: flex-start;
    }

    .sidebar-building-address {
        font-size: 10px;
        color: #333;
        display: flex;
        align-items: flex-end; /* prevents movement */
    }

    .sidebar-building-image {
        top: 50%;
        left: 10px; 
        position: absolute;
        transform: translateY(-50%);
        width: 60px; 
        height: 60px;
        /*flex-shrink: 0;*/
        object-fit: cover;  /* ensures the image fits within container */
        border: 2px solid #0E4809;
        z-index: 2;
    }

    .content {
        color: black;
        text-align: center;
        margin-top: 50px;
        font-size: 24px;
    }
</style>

<!-- div class=content -->

<!-- replace div with aside - accessibility -->
<div class="floating-sidebar">
    <div class="sidebar-search-container">    
        <!-- <div style="position: relative; width: 220px;"> -->
            <!-- <img src="{% static 'images/search.png' %}" alt="Search"> -->
            <img src="/media/images/buildingSearchBox/searchIcon.png" alt="Search" class="sidebar-search-box-img">
            <input type="text" id="searchInput" class="sidebar-search-box" placeholder="" >
        <!-- </div> -->
    </div>    
    
    {% if building_list %}
    <div class="sidebar-building-container" id="buildingList">

        {% for building in building_list %}
        <div class="sidebar-building-box" id="buildingBox">
            <a data-name="{{ building.display_name }} {{ building.mnemonic }}" data-url="{% url 'directory:buildingview' building.slug %}">
                <span class="sidebar-building-title">{{ building.display_name }}</span>
                <span class="sidebar-building-address">{{ building.address }}</span>
            </a>
            <img src="{{ building.sidebar_image.url }}" alt="Search" class="sidebar-building-image">
        </div>
        {% endfor %}

    </div>
    {% endif %}

</div>

<script>
    
    document.querySelectorAll(".sidebar-building-box").forEach(box => {
        box.addEventListener("click", function() {
            let buildingURL = this.querySelector("a").dataset.url;
            let formattedURL = buildingURL.toLowerCase().replace(/\s+/g, "-"); // Also change data-name in each building box
            window.location.href = `http://127.0.0.1:8000${buildingURL}`; // Change URL to http://127.0.0.1:8000/buildingview/${formattedName}/ when we make building pages
            // window.location.href = `http://127.0.0.1:8000/${buildingURL}/`;
        });
    });
    
    document.getElementById("searchInput").addEventListener("input", function() {
        let filter = this.value.toLowerCase();
        let buildings = document.querySelectorAll("#buildingList .sidebar-building-box");

        buildings.forEach(box => {
            let name = box.querySelector("a").dataset.name.toLowerCase();
            if (name.includes(filter)) {
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        });
    });
</script>