{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        
    <body>

        {% include "navbar.html" %}

        <div>
            <div class="page">
                <text class="heading">Explore Our Campuses</text>
                <div class="bubble-container">
                    <a href="http://127.0.0.1:8000/mapview/untmaincampus/">
                        <img src="static/image/maincampusimage.jpg" alt="UNT Main Campus" class="bubbleimage">
                        <div class="text">Main Campus</div>
                    </a>
                    <a href="http://127.0.0.1:8000/mapview/discoveryparkcampus/">
                        <img src="static/image/dpimage.JPG" alt="UNT Discovery Park" class="bubbleimage">
                        <div class="text">Discovery Park</div>
                    </a>
                    <a href="http://127.0.0.1:8000/buildingview/">
                        <img src="static/image/buildingimage.jpg" alt="UNT Buildings" class="bubbleimage">
                        <div class="text">Buildings</div>
                    </a>
                </div>                
                <text class="heading">About Us</text>
                <text class="pgraph">abcdefg</text>
            </page>
        </div>
    </body>
</html> 