

<!--<p style="text-align: center;">View of Map</p>

<h1>{{ full_map.display_name }}</h1>
<br>
{% if full_map.map_image %}
<img src="{{ full_map.map_image.url }}">
{% endif %}

<br>

<ul>
{% for choice in full_map.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>

<p style="text-align: center;">&nbsp;</p>-->


{%block content %}

<div class="pageholder">
    <div class="titleholder"> Google Maps API Display</div>
</div>


<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWl8uFZQTCMxBy8MNe8YaPDlelX6No4LI&callback=initMap&v=beta&libraries=marker"
    defer
></script>

<gmp-map center="{{ full_map.center }}" zoom="{{ full_map.zoom }}" map-id="{{ full_map.map_id }}" style="height: 660px">
   
    {% for currLoc in all_locations %}
        <gmp-advanced-marker
        gmp-clickable="true" 
        position="{{ currLoc.coordinates }}"
        title="{{ currLoc.name }}"
        ></gmp-advanced-marker>
    {% endfor %}

  </gmp-map>



<p style="text-align: center;"><a href="http://127.0.0.1:8000/" style="color:#2761b7">Back</a></p>

<!--
<script>
    put javascript stuff here
</script>
-->

{% endblock %}