{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-family: "Volkhov";
        background-color: #D2D4C4;
        border: 3px solid #669631;
        border-right: none;
        border-left: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        z-index: 99998;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        flex-wrap: nowrap;
        min-height: 70px;
    }

    .left-section {
        display: flex;
        align-items: center;
    }

    .right-section {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 150px;
        height: auto;
        margin-right: 5px;
        vertical-align: middle;
    }

    .hamburger {
        display: none;
        font-size: 26px;
        cursor: pointer;
        color: #0E4809;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style: none;
        transition: max-height 0.3s ease;
        margin: 0;
        /* padding: 0; */
        padding: 0px 100px 0px 0px;
    }

    .navbar-nav li {
        position: relative;
    }

    .navbar-nav a {
        text-decoration: none;
        color: #0E4809;
        font-size: 18px;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        background: #00663F;
        border-radius: 8px;
        padding: 10px 0;
        z-index: 99999;
    }

    .dropdown ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .dropdown li {
        padding: 5px 15px;
    }

    .dropdown li a {
        color: white;
        font-size: 14px;
    }

    .navbar-nav li:hover .dropdown {
        display: block;
    }

    .icon {
        background-color: #0E4809;
        color: white;
        padding: 6px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 35px;
    }

    .icon:hover {
        background-color: rgb(4, 42, 7);
    }

    @media (max-width: 960px) {
        .navbar {
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            min-height: 70px;
        }

        .left-section {
            display: flex;
            align-items: center;
            width: auto;
        }

        .hamburger {
            display: block;
            font-size: 26px;
            cursor: pointer;
            color: #0E4809;
            margin-left: auto;
            margin-right: 50px;
        }

        .right-section {
            width: 100%;
        }

        .navbar-nav {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            background-color: #D2D4C4;
            padding: 0;
            margin: 0;
            transition: max-height 0.4s ease;
            gap: 10px;
        }

        .navbar-nav.active {
            max-height: 500px;
            padding: 10px 30px;
        }

        .navbar-nav li {
            padding: 8px 10px;
        }

        .navbar-nav li a {
            font-size: 16px;
        }
    }
</style>

<div class="navbar">
    <div class="left-section">
        <div class="logo">
            <a href="http://127.0.0.1:8000">
                <img src="{% static 'image/untlogo.png' %}" alt="UNT Home Logo">
            </a>
            <a href="http://127.0.0.1:8000">
                <img src="{% static 'image/MAPDIRECTORY.png' %}" alt="UNT Map Directory Link">
            </a>
        </div>
    </div>

    <div class="hamburger" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
    </div>
    
    <div class="right-section">
        <ul class="navbar-nav" id="nav-menu">
            <li>
                <a href="#">Select Campus &#x25BE;</a>
                <div class="dropdown">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/mapview/untmaincampus/">Main Campus</a></li>
                        <li><a href="http://127.0.0.1:8000/buildingview/dp/">Discovery Park</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="http://127.0.0.1:8000/buildingview/">Buildings</a></li>
            <li><a href="http://127.0.0.1:8000/about/">About Us</a></li>
        </ul>
    </div>
</div>

<script>
    function toggleMenu() {
        const nav = document.getElementById('nav-menu');
        nav.classList.toggle('active');
    }
</script>